body{
    background: url(../images/darthvader3.jpg);
    
    font-family: 'Exo 2', sans-serif; 
}

#header, .rules{
    margin-top: 10px;
    align-content: center;
}

#quiz-quotes{
margin-top: 10px;
padding: 10px;
color: rgb(175, 18, 18);
font-family: 'Fira Sans', sans-serif;  
}

#submit{
    margin-top: 20px;

}
    